
<br>
<br>
<div class="container">
    <div class="panel panel-warning">
        <div class="panel-body">
            <strong style="color: red">GENERATE DATA</strong>
        
          </div>
        <div class="panel-footer">
           <p>Clicking below button will generate 200 Random data for website</p>
           <button class="homebutton" (click)="genratedata()" >GENARET DATA </button>
        </div>
      </div>
  <div class="panel panel-warning">
      <div class="panel-body">
          <strong style="color: red">DELETE DATA</strong>
      
        </div>
      <div class="panel-footer">
         <p>Clicking below button will delete all data from website</p>
         <button class="homebutton"  (click)="deletedata()" >DELETE DATA</button>
      </div>
  </div>
</div>
<br>

<div class="homefooter">
    <div class="container">
        <p style="text-align: center; font-size: 30px">CRUD OPERATION USING </p>
        <div class="row">
           <div class="col-lg-3" style="color: navy; font-size:50px">
              <p>Angular 7 </p>
           </div>
           <div class="col-lg-1" style="font-size: 50px">
              <p>+</p>
           </div>
           <div class="col-lg-4" style="color: red; font-size:50px">
              <p>Spring Boot</p>
           </div>
           <div class="col-lg-1" style="font-size: 50px">
              <p>+</p>
            </div>
           <div class="col-lg-3" style="color:green; font-size:50px">
              <p>MongoDb </p>
            </div>
        </div>
    </div>
</div>
